<!DOCTYPE html>

<head>
    <title>Twitch Authentication Success</title>
</head>
<script>
    
    function saveToken(){
        localStorage.setItem('accessToken', '{{accessToken}}');
        localStorage.setItem('refreshToken', "{{refreshToken}}");
        localStorage.setItem('display_name', "{{display_name}}");
        localStorage.setItem('bio', "{{bio}}");
        localStorage.setItem('channel_id', "{{id}}");

    }
</script>

<body onload="saveToken()"><button>Go Home</button></body>

</html>